.App {
  /* background-image: linear-gradient(
    to bottom,
    #02010a,
    #04052e,
    #140152,
    #22007c,
    #0d00a4
  ); */
  overflow-x: hidden;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -2000;
}

.backgroundImage {
  background-image: url("https://res.cloudinary.com/waliwalo/image/upload/v1617807689/portfolio/starBg_tjxkva.png");
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -2000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollDownPrompt,
.scrollUpPrompt {
  position: fixed;
  right: 0.5em;
  bottom: 50vh;
  height: 10em;
  width: 2em;
  /* background-color: white; */
  z-index: 20;
}

.scrollUpPrompt {
  transform: rotateX(180deg);
  /* right: 0.5em; */
  top: 13.25vh;
}

.line {
  height: 0em;
  width: 0.2em;
  background-color: white;
}

.leftLine,
.rightLine {
  height: 0;
  width: 0.2em;
  background-color: white;
  position: absolute;
  top: 5em;
}

.leftLine {
  transform: rotate(-45deg);
  left: -0.3em;
}

.rightLine {
  transform: rotate(45deg);
  left: 0.3em;
}

#backtoTop {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}

#backtoTop:hover {
  background-color: black;
}

#backtoTop:hover svg {
  color: white;
}

@media only screen and (max-width: 500px) {
  #backtoTop {
    bottom: 0;
    right: 0;
    padding: 0.3em;
  }
}
